*{
    margin: 0;
    padding: 0;
}

main{
    display: grid;
    width: auto;
    height: 100vh;
    background-color: rgba(70, 68, 68, 0.5);
}

#login{
    width: auto;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: rgba(36, 35, 35, 0.9);
    padding: 20px;
    border-radius: 20px;
}

i{
    display: block;
    font-size: 120px;
    border-radius: 50%;
    background-color: #dee4e1;
    padding: 20px;
}

.content h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.user{
    margin-bottom: 10px;
}

.DivPassword{
    margin-bottom: 5px;
}

#strength{
    color: white;
}

.content p{
    color: #d9e4de;
    padding: 8px;
}

.formLogin{
    display: flex;
    flex-direction: column;
}


input{
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 30px;
    text-align: initial;
    background-color: rgba(97, 94, 94, 0.3);
    border-radius: 6px;
    padding-left: 5px;
}

#loginBtn:hover{
    cursor: pointer;
}

#loginBtn{
    margin-top: 20px;
    height: 36px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}


#bars{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    width: 360px;
    margin: 8px 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.3);
}

#bars div{
    width: 0;
    height: inherit;
    border-radius: inherit;
    transition: 0.4s;
}

#bars.weak div{
    background: #bc2b38; width: 33.33%;
}
#bars.medium div{
    background: #d36f30; width: 66.66%;
}
#bars.strong div{
    background: #1eb965; width: 100%;
}