*{
    margin: 0;
    padding: 0;
    background-color: rgb(177, 172, 172);
}



input{
    box-shadow: none;
    border: none;
}

body{
    display: grid;
    width: 100%;
    height: 100vh;
}

main{
    margin: auto;
}

#login form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}