:root {
  --colorWhite: rgba(255, 255, 255, 0.918);
  --colorBlack: rgb(51, 50, 50);
  --colorBg01: rgba(149, 210, 214, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

figure:hover {
  cursor: pointer;
}

i {
  font-size: 36px;
}

.uil-android {
  color: rgb(100, 231, 129);
  text-shadow: 1px 1px black;
}

.uil-shopping-cart {
  color: rgb(192, 77, 221);
  text-shadow: 1px 1px 0 black;
}

header {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  align-items: center;
  background-color: var(--colorBg01);
  justify-content: space-around;
}

header h2 {
  font-size: 30px;
  color: rgb(242, 243, 241);
  text-shadow: 2px 1px rgb(18, 18, 19);
}

#cartshopp {
  padding-top: 15px;
  position: absolute;
  top: 55px;
  right: 5px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(235, 234, 234);
}

table {
  width: 100%;
}

table th {
  border-bottom: solid 2px black;
  padding: 8px;
}

table td {
  padding: 10px;
  text-align: center;
}

.borrar-curso {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  background-color: rgb(236, 72, 72);
  padding: 5px;
  border-radius: 50%;
}

.vaciarCart {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  border-radius: 10px;
  text-decoration: none;
  text-shadow: 1px 1px black;
  color: rgb(235, 234, 234);
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(233, 66, 54);
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  background: linear-gradient(rgb(21, 139, 218), rgb(101, 218, 226));
}

#hero h3 {
  font-size: 34px;
}

#hero p {
  font-size: 30px;
}

button:hover {
  cursor: pointer;
}

#hero button {
  margin-top: 1.2rem;
  height: 50px;
  width: 20vh;
  border-radius: 20px;
  border: none;
  background-color: rgba(14, 79, 177, 0.9);
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
}

.card {
  border: 2px solid rgb(78, 199, 207);
  border-radius: 20px;
  flex-grow: 1;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.info-card {
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card img {
  width: 26%;
}

.info-card button {
  border: none;
  border-radius: 10px;
  background-color: aqua;
  width: 180px;
  height: 40px;
}

.info-card a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}